@import '../../theme';

ul.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;

  li {
    padding: 6px 12px 12px 12px;
    margin-bottom: 12px;
    background-color: $primary-bg-color;

    p.title {
      font-size: 18px;
      margin-bottom: 6px;
    }

    p.counter {
      background-color: $secondary-bg-color;
      display: inline-block;
      padding: 3px 9px;
      border-radius: 23px;
      font-size: 12px;
    }

    div.controls {
      a {
        margin-top: 15px;
        display: inline-block;
        float: right;
      }
    }

    div.details {
      overflow: hidden;
      max-height: 0;
      transition: max-height .5s, margin-top .5s;
      will-change: max-height, margin-top;

      &[data-open="true"] {
        max-height: 500px !important;
        margin-top: 12px;
      }

      ul.lessons {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 320px;
        overflow: hidden;
        overflow-x: auto;
        white-space: nowrap;

        li {
          width: 300px;
          display: inline-block;
          border: 1px solid $primary-border-color;
          border-radius: 3px;
          margin-left: 12px;

          &:first-child {
            margin: 0;
          }

          p.teacher {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        ul.slots {
          list-style: none;
          padding: 0;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          margin: 12px 0 0;

          li {
            width: 25%;
            padding: 4px;
            cursor: pointer;
            position: relative;
            border-radius: 0;
            margin: 0;

            &[data-available="0"]:after {
              content: '';
              width: 100%;
              height: 3px;
              background-color: $danger-bg-color;
              position: absolute;
              display: block;
              left: 0;
              top: 50%;
              transform: rotate(-28deg);
            }

            &[data-available="0"]:before {
              content: '';
              width: 100%;
              height: 3px;
              background-color: $danger-bg-color;
              position: absolute;
              display: block;
              left: 0;
              top: 50%;
              transform: rotate(28deg);
            }

            &[data-is-mine="0"]:after, &[data-is-mine="0"]:before {
              background-color: $secondary-bg-color !important;
              left: 13.5% !important;
              width: 75% !important;
            }

            p.day {
              font-weight: bold;
            }

            p.hour {
              font-size: 10px;
            }
          }
        }
      }

      p.instructions {
        margin-top: 6px;
        font-style: italic;
        font-size: 13px;
      }
    }
  }
}
