/* BACKGROUND COLORS */
$dark-bg-color: #0d1019;
$primary-bg-color: #101b28;
$primary-bg-light-color: #1d2c42;
$secondary-bg-color: #fb782f;
$overlay-bg-color: rgba(0, 0, 0, 0.75);
$danger-bg-color: #d35400;

/* TEXT COLORS */
$primary-text-color: #ffffff;
$secondary-text-color: #fb782f;
$danger-text-color: #d35400;

/* BORDER COLORS */
$primary-border-color: #ffffff;
$gray-border-color: #444444;
$light-gray-border-color: #dddddd;
